# Docker ignore file

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
myenv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Environment variables
.env
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.sqlite

# Logs
*.log

# Git
.git
.github
.gitignore

# Documentation
docs/

# OS specific
.DS_Store
Thumbs.db
